.footer {
	margin-top: auto; // значение обратное высоте footer
	background-color: #24262b;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 55px;
	padding-bottom: 55px;
	&-items {
		display: flex;
		flex-wrap: wrap;
		margin-right: 50vh;
		justify-content: space-between;
		padding: 20px;
		&-list {
			color: rgb(232, 232, 236);
			font-size: 20px;
			padding: 0 auto;
			justify-content: start;
		}
		&-list li {
			cursor: pointer;
			text-align: center;
			display: block;
			margin-right: 1rem;
			text-align: left;
		}
		&-list a {
			text-decoration: none;
			color: rgb(232, 232, 236);
			&:before {
				content: '';
				width: 9px;
				height: 2px;
				background-color: rgb(255, 105, 0);
				display: block;
				margin-top: 2px;
				opacity: 0;
				transition-duration: 500ms;
				transition-property: opacity;
			}
			&:hover {
				color: rgb(255, 105, 0);
				&:before {
					opacity: 1;
				}
			}
		}
		&-app {
			color: rgb(232, 232, 236);
			font-size: 20px;
			margin-left: 50px;
			padding: 0 auto;
			justify-content: flex-end;
		}
		&-app li {
			cursor: pointer;
			text-align: center;
			display: inline-block;
			margin-right: 1rem;
			text-align: left;
		}
		&-social {
			margin-left: 50px;
			color: rgb(232, 232, 236);
			font-size: 20px;
			padding: 0 auto;
		}
		&-social li {
			cursor: pointer;
			text-align: center;
			display: inline-block;
			margin-right: 1rem;
			text-align: left;
		}
	}
}
